<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Foto</title>
  <style>
    /* Estilos generales */
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.addCategory {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.addCategory h2 {
  margin-bottom: 10px;
}

.addCategory label {
  font-weight: normal;
}

.addCategory input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addCategory button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addCategory button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para los elementos dentro del formulario */
form label,
form input[type="text"],
form select,
form button.boton {
  margin: 5px;
}

/* Estilos para el botón junto al select */
.boton {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton:hover {
  background-color: #0056b3;
}

/* Estilos para el contenedor del botón y select */
.opciones-container {
  display: flex;
  align-items: center;
}

/* CSS */
/* Estilos para el contenedor del input de tipo archivo */
.file-input-container {
  position: relative;
}

/* Estilos para el input de tipo archivo */
input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Estilos para el contenedor del botón personalizado */
.custom-file-input {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el icono del botón */
.custom-file-input i {
  margin-right: 8px;
}

/* Estilos para el texto del botón */
.custom-file-input span {
  margin-right: 8px;
}

/* Estilos para el botón personalizado al pasar el cursor por encima */
.custom-file-input:hover {
  background-color: #0056b3;
}

/* Estilos para el botón personalizado al hacer clic */
.custom-file-input:active {
  background-color: #004080;
}

.flotante {
  width: 50%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Ebuttonstilos para el botón dentro del div flotante */
.enviar  {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; /* Alineamos el botón a la derecha */
}

/* Estilos para el contenedor del formulario dentro del div flotante */
.flotante .agregar-categoria {
  display: flex;
  flex-direction: column;
}

/* Estilos para el título dentro del formulario */
.flotante .agregar-categoria h2 {
  margin-top: 0;
}

/* Estilos para el formulario dentro del div flotante */
.flotante form {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centramos verticalmente los elementos */
}

/* Estilos para el label dentro del formulario */
.flotante form label {
  margin-right: 10px; /* Espacio entre el label y el input */
}

/* Estilos para el input dentro del formulario */
.flotante form input[type="text"] {
  padding: 8px;
  margin-right: 10px; /* Espacio entre el input y el botón */
  flex: 1; /* El input toma el espacio disponible */
}

/* Estilos para el botón dentro del formulario */
.enviar {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el botón dentro del formulario al pasar el cursor por encima */
.enviar:hover {
  background-color: #0056b3;
}

.salir {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>
  <h1>Subir Foto</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <canvas id="canvas" width="300" height="200"></canvas>
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <!-- Contenedor para el botón y el select -->
    <div class="opciones-container">
      
      <select name="category" id="category" required>
        <% categories.forEach(function(category) { %>
          <option value="<%= category.id %>"><%= category.categoria %></option>
        <% }) %>
      </select>
      <button class="boton" type="button" onclick="mostrarDivFlotante()"><i class="fa-solid fa-plus-minus"></i></button>
    </div>
    <br>
    <!-- HTML -->
<div class="file-input-container">
  <input type="file" id="fileInput" name="image" accept="image/*" required>
  <label for="fileInput" class="custom-file-input">
    <span>Elegir archivo</span>
    <i class="fas fa-upload"></i>
  </label>
</div>

    <br>
    <!-- Botón junto a las opciones -->
    <br>
    
    <br>
    <button type="submit">Subir Foto</button>
  </form>

  <div id="flotante" class="flotante">

    <div style="text-align: right;">
      <button class="salir" onclick="ocultarDivFlotante()"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
    
     

      <h2>Agregar Nueva Categoría</h2>
      <form action="/addCategory" method="post">
        
        <input type="text" id="newCategory" name="newCategory" required>
        <button class="enviar" type="submit">Agregar Categoría</button>
      </form>
   
    
  </div>

  <script>
    // JavaScript para mostrar y ocultar el div flotante
    function mostrarDivFlotante() {
      var divFlotante = document.getElementById("flotante");
      divFlotante.style.display = "block";
    }

    function ocultarDivFlotante() {
      var divFlotante = document.getElementById("flotante");
      divFlotante.style.display = "none";
    }

    document.addEventListener('DOMContentLoaded', () => {
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const fileInput = document.getElementById('fileInput');

      // Evento para cargar la imagen y mostrarla en el canvas como vista previa
      fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
            const img = new Image();
            img.onload = () => {
              context.drawImage(img, 0, 0, canvas.width, 200);
            };
            img.src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
    });
  </script>
</body>
</html>
